#main{
    min-height: calc(100vh - 150px);
    background: #FFFFFF;
}
#hivercolor{
    min-height: calc(100vh - 150px);
}
#header{
    background-color: #613bde;
}
#pSaison{
    color: #2468de;
    font-size: 2rem;
    text-align: center;
    background-color: #FFFFFF;
    /*display: block;*/
    border-radius: 5px;
}
p{
    color: #000000;
    font-size: 1.2rem;
    background: #d7cbcb;
    display: inline-block;
    padding: 0 5px;
}
#header ul{
    display:flex;
    justify-content:center;
    margin: auto;
}
#header ul li{
    margin:20px;
    list-style-type: none;
}
a{
    color: #f5c106;
    font-size: 1.08rem;
    text-decoration: none;
}
a:hover{
    color: #4ff00a;
    font-weight: bold;
}
#picPanier{
    width: 90%;
    height: 500px;
    /*border: 1px solid #4922e2;*/
    margin: auto;
}
/*.listmois{*/
/*    display: inline-block;*/
/*}*/
.listmois ul li{
    /*width: 100px;*/
    height: 80px;
    display: inline-block;
    border: 1px solid #38d19e;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 15px;
    text-decoration: none;
    background-color: #613bde;
    border-radius: 20px;
}

.bgColorEte{
    /*background-color: #B0413E;*/
    min-height: calc(100vh - 150px);
    background-image: url("../images/ete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    padding: 10px;
}
.bgColorHiver{
    /*background-color: #4f4b4b;*/
     min-height: calc(100vh - 150px);
    background-image: url("../images/hiver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    padding: 10px;
}
.bgColorPrintemps{
    /*background-color: #a3b453;*/
     min-height: calc(100vh - 150px);
    background-image: url("../images/spring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    padding: 10px;
}
.bgColorAutomne{
    /*background-color: #d0b055;*/
     min-height: calc(100vh - 150px);
    background-image: url("../images/automne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    padding: 10px;
}
.footer{
    background-color: #38d19e;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.fa-lemon{
    font-size: 3rem;
    color: #eeb929;
    display: inline-block;
}
#pFooter{
    text-align: center;
}