{% extends 'base.html.twig' %}

{% block title %}Edit Alllegumes{% endblock %}

{% block body %}
    <h1>Edit Alllegumes</h1>

    {{ include('alllegumes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alllegumes_index') }}">back to list</a>

    {{ include('alllegumes/_delete_form.html.twig') }}
{% endblock %}
